<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>GameStore</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/heart.js}"></script>
</head>
<body>
<div th:replace="manager/header::header-nav"></div>	<hr>
<div class="container-fluid">
    <main role="main">
        <a class="btn btn-success" style="float: right" th:href="@{/games/toAdd}">添加游戏</a>
        <div class="table-responsive">
            <table  class="table">
                <thead thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Pic</th>
                    <th scope="col">Price</th>
                    <th scope="col">Storage</th>
                    <th scope="col">Platform</th>
                    <th scope="col">Details</th>
                    <th scope="col">Type</th>
                    <th scope="col">op</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="game:${gameList}">
                    <td th:text="${game.getG_name()}"></td>
                    <td>
                        <img th:src="${game.getG_pic()}" style="width: 70px;height: 50px">
                    </td>
                    <td th:text="${game.getG_price()}+RMB"></td>
                    <td th:text="${game.getG_storage()}+GB"></td>
                    <td th:text="${game.getG_platform()}"></td>
                    <td th:text="${game.getG_details()}"></td>
                    <td th:text="${game.getG_type()}"></td>
                    <td >
                        <a class="btn btn-sm btn-primary" th:href="@{/games/getGames(gameid=${game.getG_id()})}">修改</a>&nbsp;&nbsp;
                        <a class="btn btn-sm btn-danger" th:href="@{/games/deleteGame(g_id=${game.getG_id()})}" onclick="return confirm('确定要删除吗？')">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
<script th:src="@{/js/jquery-1.8.2.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/heart.js}"></script>
</body>
</html>
